Repository extendr/extendr, pull requests merged in 2023-02, with the labels that each got.

#443 [ndarray] Add `TryFrom<&Robj>` implementation for a broad set of scalar types
  .gitignore
  CHANGELOG.md
  extendr-api/src/error.rs
  extendr-api/src/robj/mod.rs
  extendr-api/src/robj/try_from_robj.rs
  extendr-api/src/robj_ndarray.rs
  extendr-api/src/scalar/rfloat.rs
  extendr-api/tests/ndarray_try_from_tests.rs
  tests/extendrtests/DESCRIPTION
  tests/extendrtests/NAMESPACE
  tests/extendrtests/R/extendr-wrappers.R
  tests/extendrtests/man/euclidean_dist.Rd
  tests/extendrtests/src/rust/Cargo.toml
  tests/extendrtests/src/rust/src/lib.rs
  tests/extendrtests/src/rust/src/ndarray.rs
  tests/extendrtests/tests/testthat/test-ndarray.R
Labels: feature-ndarray

#450 Document the robj_ndarray module
  extendr-api/src/robj_ndarray.rs
Labels: documentation, feature-ndarray

#480 Feature: Add support for `either`
  CHANGELOG.md
  extendr-api/Cargo.toml
  extendr-api/src/error.rs
  extendr-api/src/lib.rs
  extendr-api/src/optional/either.rs
  extendr-api/src/optional/mod.rs
  extendr-api/tests/features.rs
  extendr-api/tests/optional/either/either_mock_into_robj.rs
  extendr-api/tests/optional/either/either_mock_try_from_robj.rs
  extendr-api/tests/optional/either/mod.rs
  extendr-api/tests/optional/mod.rs
  tests/extendrtests/DESCRIPTION
  tests/extendrtests/R/extendr-wrappers.R
  tests/extendrtests/src/rust/Cargo.toml
  tests/extendrtests/src/rust/src/lib.rs
  tests/extendrtests/src/rust/src/optional_either.rs
  tests/extendrtests/tests/testthat/test-optional-either.R
Labels: feature-either
